html{
    scroll-behavior: smooth;
}

#Logo path:nth-child(1) {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(2) {
    stroke-dasharray: 194;
    stroke-dashoffset: 194;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(3) {
    stroke-dasharray: 549;
    stroke-dashoffset: 549;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(4) {
    stroke-dasharray: 463;
    stroke-dashoffset: 463;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(5) {
    stroke-dasharray: 604;
    stroke-dashoffset: 604;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(6) {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

#Logo path:nth-child(7) {
    stroke-dasharray: 194;
    stroke-dashoffset: 194;
    animation: line-anim 5s ease-in-out 1s infinite alternate;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

#Logo {
    width: 255px;
    height: 77px;
    animation: animLogo 3s ease forwards;
    margin-top: 7%;
}


header{
    background: linear-gradient(-45deg, rgba(198, 35, 104, 1) 0%,
    rgba(180, 52, 180, 1) 33%,
    rgba(0, 102, 255, 1) 100%);
    animation: gradient 6s ease 1s infinite alternate ;
    background-size: 200% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    border-bottom: solid white 5px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#ul-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2.5%;
    gap: 8vw;
}

#ul-navbar li{
    list-style-type: none;
    white-space: nowrap;
}


.btn-navbar {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
}
  
.btn-navbar::after {
    content: '';
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: 0px;
    top: 0;
    left: 1px;
    visibility: hidden;
    transition: .2s linear;
}
  
.btn-navbar:hover::after {
    visibility: visible;
    width: 100%;
}
  
.btn-navbar:hover {
    opacity: 1;
}

section{
    min-height: 90vh;
    border-bottom: solid white 5px;
    background-color: #212121;
    color: white;
}

#div_title{
    padding-top: 4%;
}

#l{
    list-style-type: none;
}

#div_container_revenir{
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .2s ease-in-out;
    width: fit-content;
}

#div_container_revenir:hover{
    transform: scale(1.04);
}

#btn_revenir{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    border: solid 4px transparent;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(-45deg, rgba(198, 35, 104, 1) 0%, rgba(180, 52, 180, 1) 33%, rgba(0, 102, 255, 1) 100%) border-box;
    border-radius: 2em;
    padding: 2.2px 20px 5px 20px ;
    box-shadow: 0px 0px 25px 0px rgb(65, 65, 65);
}

#title_projet{
    text-align: center;
}

#compétences_BTS{
    width: 800px;
    margin: auto;
}

#comp_mise_en_oeuvre{
    padding-top: 4%;
    text-align: center;
}

#list_comp{
    padding-top: 3%;
    padding-left: 15%;
}

#projet{
    margin-top: 5%;
    text-align: center;
}

.list{
    text-align: left;
}

.divlist{
    width: 600px;
    margin: auto;
}

footer {
    height: 120px;
    background: rgb(198, 35, 104);
    background: linear-gradient(
      90deg,
      rgba(198, 35, 104, 1) 0%,
      rgba(180, 52, 180, 1) 33%,
      rgba(0, 102, 255, 1) 100%
    );
    background-size: 400% 400%;
    position: relative;
    animation: changeFooter 9s ease-in-out infinite;
}

@keyframes changeFooter {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#footer-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.6%;
}

.btn-git-link-footer{
    transition: all .2s ease-in-out;
}

.btn-git-link-footer:hover{
    transform: scale(1.15);
}

#reserved {
    font-size: 0.8em;
    text-align: center;
    transform: translateY(-6px);
    color: white;
    font-weight: 600;
    padding-top: 0.8%;
}

@media only screen and (max-width: 1030px) {
    #compétences_BTS{
        width: 600px;
    }

    .img{
        width: 550px;
    }
}

@media only screen and (max-width: 700px) {
    #div-logo{
        margin-top: 3%;
    }

    #div-navbar{
        display: none;
    }

    #compétences_BTS{
        width: 400px;
    }

    .img{
        width: 350px;
    }
}